@import "tailwindcss";

/* Aktivasi class .dark secara manual untuk Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  /* Variabel Warna Brand Khusus */
  --color-brand: #82C8E5;
  --color-brand-hover: #67B6D7;
  --color-brand-dark: #1E3A8A; /* Warna kontras untuk mode gelap jika dibutuhkan */
}
